@font-face {
    font-family: 'Vazir';
    src: url("fonts/Vazir/Vazir.eot") format('eot');
    src: url("fonts/Vazir/Vazir.ttf") format('truetype');
    src: url("fonts/Vazir/Vazir.woff") format('woff');
}

body{
    direction: rtl;
    font-family: 'Vazir';

}

.main-navigation a, .site-navigation a, .site-title a,
.site-description, .entry-meta a{
    font-family: 'Vazir';
}

h1, h2, h3, h4, h5, h6 ul, li, .field{
    font-family: 'Vazir';
}

input[type="submit"], input[type="text"], button, textarea{
    font-family: 'Vazir';
}

.site-logo img{
    border-radius: 0;
    max-width: 150px;
 }

.comment-form-author label, .comment-form-email label, .comment-form-url label, .comment-form-comment label,
.comment-form-subscriptions label, .comment-form-reply-title{
    font-family: 'Vazir';
}

.entry-content, .entry-summary {
    font-size: 0.8em;
    line-height: 1.8em;
}

/*.share-comment-icon::before {*/
    /*position: relative;*/
    /*left: -50px;*/
/*}*/

