@font-face {
    font-family: 'Vazir';
    src: url("fonts/Vazir/Vazir.eot") format('eot');
    src: url("fonts/Vazir/Vazir.ttf") format('truetype');
    src: url("fonts/Vazir/Vazir.woff") format('woff');
}

body{
    direction: rtl;
    font-family: 'Vazir';

}

.main-navigation a, .site-navigation a, .site-title a,
.site-description{
    font-family: 'Vazir';
}

.entry-meta a, .entry-meta footer {
    font-family: 'Vazir';

}

h1, h2, h3, h4, h5, h6 ul, li, .field{
    font-family: 'Vazir';
}

input[type="submit"], input[type="text"], button, textarea{
    font-family: 'Vazir';
}

.site-logo img{
    border-radius: 0;
    max-width: 125px;
 }

.comment-form-author label, .comment-form-email label, .comment-form-url label, .comment-form-comment label,
.comment-form-subscriptions label, .comment-form-reply-title{
    font-family: 'Vazir';
}

.entry-content, .entry-summary {
    font-size: 0.8em;
    line-height: 1.8em;
}

.entry-header h1{
    font-size: 1.75em;
}

p{
    font-size: 1.0em;
}

.cancel-comment-reply-link {
    font-family: 'Vazir';
}

/*
Custom style and image for social media icons
*/
#menu-social li a[href*="github.com"]::before{
    content: url("img/github.svg");
    width: 28px;
    height: 28px;
    opacity: 1;
}

#menu-social li a[href*="github.com"]:hover::before{
    opacity: 1;
}

#menu-social li a[href*="linkedin.com"]::before{
    content: url("img/linkedin.svg");
    width: 28px;
    height: 28px;
    opacity: 1;
}

#menu-social li a[href*="linkedin.com"]:hover::before{
    opacity: 1;
}

/*.share-comment-icon::before {*/
    /*position: relative;*/
    /*left: -50px;*/
/*}*/

